#footer ul {
width: 650px !important;
}

.i18n-hi #footer ul {
width: 533px !important;
}

.views-field-field-image {
width: 100%;
}
#footer {
color:#000;
}
#block-menu-menu-footer-menu ul li a {
color:#000;
}
#block-block-1 p{
color:#000;
}