
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ebe8e0;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
   background: #ebe8e0;
  background-image: -webkit-linear-gradient(top, #ebe8e0 0%, #ebe8e0 100%);
  background-image: linear-gradient(to bottom, #ebe8e0 0%, #ebe8e0 100%);
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background: none repeat scroll 0 0 #151515 !important;
  border-color: #f9f9f9;
}

#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
 color:#07586d;
}
#site-name a {
color:#07586d !important;
}